body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(128, 192, 255);
	background: linear-gradient(
		90deg,
		rgba(128, 192, 255, 1) 0%,
		rgba(33, 227, 223, 1) 25%,
		rgba(212, 255, 247, 1) 50%,
		rgba(226, 226, 226, 1) 75%,
		rgba(255, 229, 250, 1) 100%
	);
}

code {
	font-family: 'Roboto', sans-serif;
}
