.todoForm {
	text-align: left;
	width: 80%;
	margin: 3em auto;
}

.todoForm label {
	font-size: 2em;
}

.todoArea {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
}

.todoArea input {
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	border: 0;
	margin: 0 0.5em 0 0;
	padding: .75em 1em;
	flex-grow: 1;
}

.todoArea button {
	font-size: 1em;
	color: white;
	border: 1px solid lightgray;
	background: #ef5350;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	padding: .75em 1em;
}
