.TodoList {
    color: white;
    background: #ef5350;
    margin-top: 10vh;
    width: 40vw;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.315);
}

.TodoListHeader {
    margin: 2em auto;
    text-align: left;
    border-bottom: 1px solid lightgray;
    width: 80%;
}

.TodoListHeader h1 {
    font-size: 3em;
    margin: 0;
}

.TodoListHeader p {
    font-weight: 300;
}

.TodoList ul {
    list-style-type: none;
}

.Todos {
    margin-top: 2em;
}
